h1 {
  color: green;
  text-align:center; 
}
h2 {
  color: brown;
  font-style:italic;
  text-align: center; 
}
}
p {
  font-family: sans-serif;
}
ol {
  line-height: 40px;
}
.body{
	background-color: salmon;
}
